{{>header}}
<div class="h-[100px] bg-[#57aa9f] text-white px-[100px] py-6 flex justify-between items-center">
  <a href="#" class=" font-sans text-[40px] font-bold text-[#f4be3b] items-center">My Library</a>
  <ul class="flex space-x-20 mr-20">
    <li><a href="/register" class="hover:text-gray-400">Home</a></li>
    <li><a href="/issue" class="hover:text-gray-400">About</a></li>
    <li><a href="#" class="hover:text-gray-400">Contact</a></li>
  </ul>
</div>
