<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/css/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {{>header}}
</head>
<body>
    {{>navbar}}
    
    <main class="  h-[90vh] bg-[#57aa9f]  border-black pt-[200px]">
      <div class=" ml-[100px]  h-[150px] flex items-center w-auto mb-[px] font-bold text-[#f1debe] text-[50px] "> STEP INTO THE MAGICAL WORLD OF BOOKS!!
      </div>
      <div class=" flex justify-start ml-[100px] mt-[20px] pl-[40px]">
        <button href="/register" class="w-[150px] h-[50px] bg-[#f4be3b] rounded-full text-[20px] ">
          Register
        </button>
        
      </div>
      
      <img src="mernbackend\public\assets\pattern.png" alt="Description of the image" class="w-64 h-64">
      </div>
      
    </main>


  
</body>
</html>